In [2]:
import pandas as pd

# Importing from excel

In [5]:
pd.read_excel("course_participants.xlsx")

   user_id   name  age  country  score continent
0     1001   Mark   55    Italy    4.5    Europe
1     1000   John   33      USA    6.7   America
2     1002    Tim   41      USA    3.9   America
3     1003  Jenny   12  Germany    9.0    Europe

# Creating data frame

In [3]:
data=[["Mark", 55, "Italy", 4.5, "Europe"],
["John", 33, "USA", 6.7, "America"],
["Tim", 41, "USA", 3.9, "America"],
["Jenny", 12, "Germany", 9.0, "Europe"]]
df = pd.DataFrame(data=data,
                  columns=["name", "age", "country", "score", "continent"],
                  index=[1001, 1000, 1002, 1003])
df

       name  age  country  score continent
1001   Mark   55    Italy    4.5    Europe
1000   John   33      USA    6.7   America
1002    Tim   41      USA    3.9   America
1003  Jenny   12  Germany    9.0    Europe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1001 to 1003
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   age        4 non-null      int64
 2   country    4 non-null      object
 3   score      4 non-null      float64
 4   continent  4 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 192.0+ bytes

# Index

In [8]:
# Accessing index in a data frame
df.index

Int64Index([1001, 1000, 1002, 1003], dtype='int64')

In [10]:
# Given a name to the index in a data frame
df.index.name = "user_id"
df

          name  age  country  score continent
user_id
1001      Mark   55    Italy    4.5    Europe
1000      John   33      USA    6.7   America
1002       Tim   41      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [11]:
# "reset_index" turns the index into a column, replacing the index with the default index.
# This corresponds to the DataFrame from the beginning that we loaded from Excel.
df.reset_index()

   user_id   name  age  country  score continent
0     1001   Mark   55    Italy    4.5    Europe
1     1000   John   33      USA    6.7   America
2     1002    Tim   41      USA    3.9   America
3     1003  Jenny   12  Germany    9.0    Europe

In [12]:
# "reset_index" turns "user_id" into a regular column and
# "set_index" turns the column "name" into the index
df.reset_index().set_index("name")

       user_id  age  country  score continent
name
Mark      1001   55    Italy    4.5    Europe
John      1000   33      USA    6.7   America
Tim       1002   41      USA    3.9   America
Jenny     1003   12  Germany    9.0    Europe

In [13]:
# This methods leave untouched the original data frame as it shows below
df

          name  age  country  score continent
user_id
1001      Mark   55    Italy    4.5    Europe
1000      John   33      USA    6.7   America
1002       Tim   41      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [14]:
# To change the index, use the reindex method:
df.reindex([999, 1000, 1001, 1004])

         name   age country  score continent
user_id
999       NaN   NaN     NaN    NaN       NaN
1000     John  33.0     USA    6.7   America
1001     Mark  55.0   Italy    4.5    Europe
1004      NaN   NaN     NaN    NaN       NaN

In [15]:
# This one proves the point on cell no 13
df

          name  age  country  score continent
user_id
1001      Mark   55    Italy    4.5    Europe
1000      John   33      USA    6.7   America
1002       Tim   41      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [16]:
# To sort an index, use the sort_index method:
df.sort_index()

          name  age  country  score continent
user_id
1000      John   33      USA    6.7   America
1001      Mark   55    Italy    4.5    Europe
1002       Tim   41      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [17]:
# To sort the rows by one or more columns, use sort_values:
df.sort_values(['continent', "age"])

          name  age  country  score continent
user_id
1000      John   33      USA    6.7   America
1002       Tim   41      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe
1001      Mark   55    Italy    4.5    Europe

# Colums

In [4]:
# Show columns
df.columns

Index(['name', 'age', 'country', 'score', 'continent'], dtype='object')

In [5]:
# Change column name
df.columns.name = "properties"

In [6]:
# Rename columns
df.rename(columns={"name": "First Name", "age": "Age"})

properties First Name  Age  country  score continent
1001             Mark   55    Italy    4.5    Europe
1000             John   33      USA    6.7   America
1002              Tim   41      USA    3.9   America
1003            Jenny   12  Germany    9.0    Europe

In [7]:
# Delete colums or rows
df.drop(columns=['name', 'country'], index=[1000, 1003])

properties  age  score continent
1001         55    4.5    Europe
1002         41    3.9   America

In [8]:
# Transpose
df.T

              1001     1000     1002     1003
properties
name          Mark     John      Tim    Jenny
age             55       33       41       12
country      Italy      USA      USA  Germany
score          4.5      6.7      3.9      9.0
continent   Europe  America  America   Europe

In [9]:
# Reorder the columns
df.loc[:, ["continent", "country", "name", "age", "score"]]

properties continent  country   name  age  score
1001          Europe    Italy   Mark   55    4.5
1000         America      USA   John   33    6.7
1002         America      USA    Tim   41    3.9
1003          Europe  Germany  Jenny   12    9.0

# Selecting Data

In [10]:
# Using scalars for both row and column selection returns a scalar
df.loc[1001, "name"]

'Mark'

In [12]:
# Using a scalar on either the row or column selection returns a Series
df.loc[[1001, 1002], "age"]

1001    55
1002    41
Name: age, dtype: int64

In [38]:
# Selecting multiple rows and columns returns a DataFrame
df.loc[:1002, ["name", "country"]]

properties  name country
1001        Mark   Italy
1000        John     USA
1002         Tim     USA

In [13]:
# Shortcut for selecting columns
df["name"]

1001     Mark
1000     John
1002      Tim
1003    Jenny
Name: name, dtype: object

## Selecting by position

In [14]:
# Using interger location to return a scalar
df.iloc[0,0] # first item

'Mark'

In [15]:
# Return a series
df.iloc[[0,2],1]

1001    55
1002    41
Name: age, dtype: int64

In [16]:
# Returns a data frame
df.iloc[:3, [0,2]]

properties  name country
1001        Mark   Italy
1000        John     USA
1002         Tim     USA

## Selecting by boolean index

In [20]:
# Selecting people who live in USA and are older than 40 years
tf = (df["age"] > 40) & (df["country"] == "USA")

In [21]:
tf

1001    False
1000    False
1002     True
1003    False
dtype: bool

In [26]:
# Show my selection with loc
df.loc[tf, :]

properties name  age country  score continent
1002        Tim   41     USA    3.9   America

In [28]:
# Filter index
df.loc[df.index > 1001, :]

properties   name  age  country  score continent
1002          Tim   41      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

In [29]:
# Filter dataframe from participants from Italy and Germany
df.loc[df["country"].isin(["Italy", "Germany"]), :]

properties   name  age  country  score continent
1001         Mark   55    Italy    4.5    Europe
1003        Jenny   12  Germany    9.0    Europe

In [32]:
# New dataframe
rainfall = pd.DataFrame(data={"City 1": [300.1, 100.2], "City 2": [400.3, 300.4], "City 3": [1000.5, 1100.6]})

In [33]:
rainfall

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [34]:
rainfall < 400

   City 1  City 2  City 3
0    True   False   False
1    True    True   False

In [35]:
 rainfall[rainfall < 400]

   City 1  City 2  City 3
0   300.1     NaN     NaN
1   100.2   300.4     NaN